## User settings
xcuserdata/
Pods/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout
Examples/RandomLottery/RandomLottery.xcworkspace/xcshareddata
JRPCProxy/JRPCProxy.xcodeproj/project.xcworkspace/xcshareddata
.ruby-version
